@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindcss';
/* @config "../tailwind.config.js"; */

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* --color-darkmode: #18192a; */
  --color-darkmode: #08151e;
  --color-bg-light: #ffffff;
  --color-accent-1: #5d96e3;
  --color-accent-2: #3b9187;
  --font-display: 'Oswald', sans-serif;
  --font-body: 'Source Sans 3', sans-serif;
  --spacing-header-offset: 80px;
  --spacing-content: 90rem;
  --shadow-button: 0 0 48px var(--color-accent-1);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans 3', sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}

.contain {
  /* max-width: 105rem; */
  max-width: 90rem;
  margin-inline: auto;
  padding: 1rem 2rem;
}

.stars {
  background:
    url(/img/stars.png) repeat,
    linear-gradient(to bottom right, #00031f, #08202d);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}
