@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import 'tailwindcss';

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
  --color-darkmode: #18192a;
  --color-bg-light: #ffffff;
  --color-accent-1: #5d96e3;
  --color-accent-2: #3b9187;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}
