@import "variables";
@import "form.module.scss";

.hero {
  margin-bottom: 15rem;
  padding: 8rem 0 0 0;
  min-height: 700px;
  background: $teal;
  background: linear-gradient(25deg, $teal 15%, $lightblue 50%, $purple 85%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);

  h1 {
    cursor: pointer;
    &::selection {
      user-select: none;
    }
  }

  p {
    padding-top: 0.8rem;
  }
}

.graphic {
  position: absolute;
  top: 330px;
  left: 50%;
  transform: translate(-50%, 0);
  justify-content: center;
  z-index: 1;
  transition: top 1s;

  &::selection {
    display: none;
  }
}

.section {
  margin: 1rem 0;
  padding: 0 4rem;
  //border: 1px solid gold;
}

.sectionTitle {
  padding: 1rem 0 2rem 0;
}

.projectList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  margin-top: -2rem;
  padding: 13rem 0 4rem 0;
  min-height: 700px;
  background: $teal;
  background: linear-gradient(25deg, $teal 15%, $lightblue 50%, $purple 85%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
}

@media only screen and (min-width: $bp-desktop) {
  .hero {
    text-align: left;
  }

  .graphic {
    top: 200px;
    left: auto;
    right: 0px;
  }
}
