@import "variables";

.nav {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: $text;
  height: 100px;
  font-weight: 400;
  z-index: 10;

  ul {
    display: flex;
    margin: 0px;
  }

  li {
    padding: 0.25rem 1rem;
    text-decoration: none;
    list-style: none;
    cursor: pointer;

    &:hover {
      background: rgba($color: white, $alpha: 0.1);
      border-radius: $radius-lg;
    }
  }
}
